{% extends 'base.html' %}

{% block container %}
    <h1>Add URL</h1>
    <form action="" method="POST">
    {% if form.errors %}
        {% for error in form.errors %}
            <div>
                <strong>{{ error }}</strong> You should check in on some of those fields below.
                <button type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
        {% csrf_token %}

        {{ form }}

        <button type="submit">Submit</button>
    </form>
{% endblock %}